<%- include('partials/header'); -%>

<h1><%= post.title %></h1>

<p><%= post.content %></p>

<button type="submit" class="btn btn-primary" name="backToPrevious" onclick="history.back()">Back to Previous Page</button>

<%- include('partials/footer'); -%>
