<%- include('partials/header'); -%>

<h1>Oops! Wrong Post Title.</h1>

<button type="submit" class="btn btn-primary" name="backToPrevious" onclick="history.back()">Back to Previous Page</button>

<%- include('partials/footer'); -%>
